.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input__field {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
}

.button__box {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
